img {
    width: 400px;
    height: 400px;
}

#lampada {
    margin-right: 250px;
}

.container {
    display: flex;
    margin: 10%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
