*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

div{
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
    background-color: pink;
}
