body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: #FFDAB9;
}

h1 {
    font-size: 22px;
}

p {
    margin: 20px;
    font-size: 16px;
    text-align: center;
}

input {
    cursor: pointer;
    padding: 5px;
    width: 80px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2.5em;
}

.soma {
    background-color: #FFFFE0;
    border-radius: 2.5em;
    width: 25%;
}

.subtracao {
    background-color: #FFFACD;
    border-radius: 2.5em;
    width: 25%;
}

.multiplicacao {
    background-color: #FAFAD2;
    border-radius: 2.5em;
    width: 25%;
}

.divisao {
    background-color: #FFEFD5;
    border-radius: 2.5em;
    width: 25%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}